body{
margin: 0;
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #FFFFFF;
}

h1,h2,h3,h4{
    margin: 0;
}
p{
    margin: 0;
}
ul,ol{
    list-style-type: none;
    margin: 0;
    padding: 0;  
}
.container{
max-width: 288px; 
    margin: 0 auto;  
}
a {
    text-decoration: none;
}
.section{
    
    padding-top: 96px;
    padding-bottom: 96px;
}
img {
    display: block;
    max-width: 100%;
}

 /* <!-- header --> */
 .header-container {
     display: flex;
     align-items: center;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    }
.header-container-div{
    display: flex;
        align-items: center;
}
 .logotype-header-fiol{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color:#4d5ae5;
        text-decoration: none;
margin-top: 24px;
margin-bottom: 24px;
margin-right: 76px
 }
 .logotype-header-black{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
        text-decoration: none;
margin-right: 76px
 }
 /* navigation */
nav {
    display: flex;
    gap: 40px;
    align-items: center;
}
.ul-list-navigation{
    margin-top: 24px;
    margin-bottom: 24px;
    gap: 40px;
display: flex;
align-items: center
}
.navigation{
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-decoration: none;
        align-items: center;
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation:hover{
font-family: "Roboto",
        sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #404bbf;
}
.navigation:focus{
    color: #404bbf;

}
.navigation.current::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: #404bbf;
}
.navigation.current{
    position: relative;
        color: #404bbf;
}




/* contacts */
.adress{
    gap: 40px;
    font-style: normal}
.ul-list-adress {
    display: flex;
    list-style-type: none;
    margin-top: 24px;
    margin-left: 332px;
    margin-bottom: 24px;
    gap: 40px;
}
.mail-and-number{
    font-family: "Roboto",
            sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
        text-decoration: none;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.mail-and-number:hover{
font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #404bbf;

}
.mail-and-number:focus{
        color: #404bbf;
}


/* main-content */
.first-section{
    background-color:#2e2f42;
    height: 600px;
    padding: 188px 0;
    max-width: 1440px;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-position: center;
}
.hero{
    background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(/images/photo-background.jpg);
        background-size:cover;
}
.h-one{
font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin-left:316px;
}
.button{
     background: #4d5ae5;
    cursor: pointer;
    border-radius: 4px;
        padding: 16px 32px;
        width: 169px;
        height: 56px;
        margin-top: 48px;
        margin-left: 480px;
        margin-right: 479px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        display: block;
        min-width: 169px;
        border: none;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.04em;
        color: #fff;
        white-space: nowrap;
}
.button:hover{
background-color: #404BBF;
}
.button:focus{
background-color: #404BBF;
}
/*#region features */
.visually-hidden{
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
 }
.ul-list-features{
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        text-align: left;
        gap: 72px;
}

.div-icons-features{
display: none;

}





.h-three-features{
    margin-bottom: 8px;
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
.p-features{
    font-family: "Roboto", sans-serif;
        /* font-weight: 400; */
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
            font-weight: 500;
}

/* #endregion features */
/* #region our-team */
.section-our-team{
        background-color: #f4f4fd;
            
            min-width: 320px;
}
.h-two-our-team{
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
}
.ul-list-our-team{
        list-style-type: none;
        display: flex;
flex-wrap: wrap;
    gap: 72px;    
align-items: center;
padding-left: 12px;

}
.div-text-our-team{
padding: 32px 0;
}

.li-photo-our-team {
    background-color: #fff;
    
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.h-three-our-team{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px
}

.p-our-team {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
}

.icons-social-media{
    fill: #F4F4FD;
}
.icons-social-media:hover{
    background-color: #404BBF;
}
.ul-list-icons-our-team{
    display: flex;
    gap: 24px;
    justify-content: center;
}

.a-icons{
display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.a-icons:hover{
background-color: #404BBF;
}
.a-icons:focus{
    background-color: #404bbf;
}


/* #region our-portfolio */
.h-two-potfolio{
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 72px;
}
.ul-list-our-potfolio{
        display: flex;
        list-style-type: none;
        flex-wrap: wrap;
        gap: 48px;
}
.li-list-portfolio{
    box-sizing: border-box;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.li-list-portfolio:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.li-list-portfolio:hover .portfolio-text-overflow{
transform: translateY(0);
}
.container-text-overflow{
position: relative;
    overflow: hidden;
}


.portfolio-text-overflow{
position: absolute;
top: 0;
padding: 40px 32px;
background-color: #4d5ae5;
height: 100%;
width: 100%;
font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.h-three-portfolio{
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2e2f42;   
        margin-bottom: 8px
}
.div-text-portfolio{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}


/*  #endregion our-portfolio */
/* #regionfooter-content */
.footer{
        background: #2e2f42;
        /* padding: 100px 0; */
        padding: 96px 0;
}
.container-footer{
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    align-items: baseline;
}

.logotype-footer-fiol{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        display: inline-block;
        margin-bottom: 16px;
        padding-left: 86px;
}
.logotype-footer-white{
font-family: "Raleway",
        sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    display: inline-block;

}
.p-footer{
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        width: 264px;
}
.container-footer-social-media{
    margin-left: 40px;
}
.second-p-footer{
        font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.02em;
            color: #fff;
            margin-bottom: 16px;
            margin-left: 56px
}
.ul-list-footer-icons{
    display: flex;
    gap: 16px;
}
.icons-social-media-footer{
    fill: #F4F4FD;
}
.icons-social-media-footer:hover {
    background-color: #31D0AA;
}
.a-icons-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.a-icons-footer:hover {
    background-color: #31D0AA;
}
.a-icons-footer:focus {
    background-color: #31D0AA;
}

.p-footer-subscribe{
font-family: "Roboto",
        sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    margin-left: 106px;
}
.form-footer{
    display: flex;
    flex-wrap: wrap;
    
    gap: 16px;
}
.input-footer{
border: 1px solid #fff;
    border-radius: 4px;
    
    width: 288px;
    height: 40px;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    opacity: 0.3;
    margin-right: 24px;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}
.input-footer::placeholder{
    font-family: "Roboto",
sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 200%;
letter-spacing: 0.04em;
color:#ffffff;
}


.button-footer{
    
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 4px;
        margin-left: 61px;
}
.icon-send-footer{
margin-left: 16px;
}
/* #region modal-backdrop */
.backdrop{
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
        width: 408px;
        min-height: 584px;
        transform: translate(-50%, -50%);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
        background-color: #fcfcfc;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 72px 24px 24px 24px;
}
.backdrop.is-open{
    visibility: hidden;
    pointer-events: auto;
    opacity: 1;
}
.button-close-modal{
    position: absolute;
top: 24px;
right: 24px;
width: 24px;
height: 24px;
padding: 0;
border-radius: 50%;
border-color: #D0D2E3;
border: 1px solid rgba(0, 0, 0, 0.1);
background-color: #e7e9fc;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
}
.button-close-modal:hover{
    background-color: #404bbf;
    border: none;
    fill: #ffffff
}
.button-close-modal:focus{
    background-color: #404bbf;
    border: none;
    fill: #ffffff
}
.svg-button-close-modal{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.p-modal{
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 16px;
}
.div-container-form{
margin-bottom: 8px;
    position: relative;
}
.label-modal-form{
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color:#8e8f99;
display: block;
margin-bottom: 4px;
}
.div-container-input-modal{
position: relative;
}
.modal-icon-svg{
position: absolute;
    left: 16px;
top: 50%;
transform: translateY(-50%);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-modal{
width: 100%;
height: 40px;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
background-color: transparent;
padding-left: 38px;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-modal:focus {
    border: 1px solid #4d5ae5;
}

.input-modal:focus+.modal-icon-svg{
fill: #4d5ae5;
}

.div-container-text-area{
            margin-bottom: 16px;
}
.textarea-modal{
width: 100%;
height: 120px;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
background-color: transparent;
padding: 8px 16px;
outline: transparent;
resize: none;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-modal:focus{
    border-color: #4D5AE5;
}
.div-container-checkbox-modal{
margin-bottom: 24px;
}

.custom-checkbox{
border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    margin-right: 8px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.custom-checkbox-label{
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
    cursor: pointer;
    fill: transparent;
    color: #8e8f99;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
}
.visually-hidden{
    position: absolute;
    width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
.checkbox:checked + .custom-checkbox-label >.custom-checkbox {
border-color: transparent;
background-color: #404BBF;
fill: #f4f4fd;
border: none;
}
.a-modal-checkbox{
        line-height: 133%;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #4d5ae5;
}
.button-modal{
    border-radius: 4px;
        padding: 16px 32px;
        min-width: 169px;
        height: 56px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background-color: #4d5ae5;
        border: none;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        margin-left: 95px;
        margin-bottom: 24px;
        display: block;
        cursor: pointer;
        font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.04em;
            text-align: center;
            color: #fff;   
}
/* #endregion modal-backdrop */

/* #region media-tablet */
@media screen and (min-width: 768px) and (max-width: 1157px) {
    .container{
        max-width: 768px;
        padding-left: 16px;
        padding-right: 16px;
    }


.ul-list-features{
    gap:72px 24px;
}

    .li-list-features{
        width: calc((100% - 24px) / 2);
    }
        /* our team */
.container-tablet-our-team{
padding-left: 92px;
padding-right: 92px;
}
.ul-list-our-team {
    gap:64px 24px;
}

/* our portfilio */
.ul-list-our-potfolio{
gap: 72px 24px;

}
.li-list-portfolio{
    width: 356px;
}


/* footer */
.container-footer{
 gap: 72px 24px;   
 padding-left: 92px;
}
.button-footer{
margin-left: 0;
}
.second-p-footer{
    margin-left: 0;
}
.p-footer-subscribe{
    margin-left: 0;
}
} 



/* #endregion media-tablet */

/* #region media decstop */
@media screen and (min-width: 1158px) and (max-width: 99999px) {
    .container{
max-width: 1158px; 
padding: 0 15px;
    }
.section{
    padding-top: 120px;
        padding-bottom: 120px;
}






.ul-list-features{
gap: 24px;
}
.li-list-features {
    width: calc((100% - 72px) / 4);

}
.h-three-features{
font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.p-features{
    font-weight: 400;
}

.div-icons-features{
    border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background: #f4f4fd;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
        }



/* our team */
.section-our-team{
height: 732px;
}
.ul-list-our-team{
gap: 24px;
}
.li-photo-our-team{
width: calc((100% - 72px) / 4);
}


/* our portfolio */
.ul-list-our-potfolio{
    gap: 40px 24px;
}
.li-list-portfolio{
    width: 360px;
}



/* footer */

.footer {
    padding: 100px 0;
}
.container-footer{
    gap: 0;
}

.logotype-footer-fiol {
    padding-left: 0;
}

.container-footer-social-media {
    margin-left: 120px;
}

.second-p-footer {
    margin-left: 0;
}

.third-div-conteiner-footer {
    margin-left: 80px;
}


.label-footer{
    max-width: 264px;
}
.input-footer {
    width: 264px;
    opacity: 1;
}

.p-footer-subscribe {
    margin-left: 0;
}

.button-footer {
    margin-left: 0;
}
}
